@model IEnumerable<Training.Models.Training.course>

@{
	ViewData["Title"] = "Courses assigned";
	Layout = "~/Views/Shared/MyLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>CoursesAssigned</title>
</head>

<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
</style>

<body style="background-color: lightblue">
	<div >
		<h1>Courses assigned</h1>

		<table>
			<tr>
				<th>Subject code</th>
				<th>Category name</th>
				<th>Course name</th>

			</tr>

			@foreach (var course in Model)
			{
				<tr>
					<td>@course.ID</td>
					<td>@course.category.categoryName</td>
					<td>@course.courseName</td>
					
				</tr>
			}



		</table>

	</div>
</body>
</html>
