@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/MyLayout.cshtml";
}

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="~/css/home.css" />
<body style="background-color: lightblue">
	<header class="w3-container w3-teal">
		<h1>Home page</h1>
	</header>

	<img src="~/image/img/THPT-FPT-tu-lap-truong-thanh-2.jpg" alt="FPT School" style="width: 100%" />

	<div class="w3-container">
		<p>Welcome to the University of Greenwich. Established in 1890, we are located on the banks of the River Thames, the green spaces of Avery Hill, and the historic Chatham Maritime in Kent.</p>
	</div>

	<div class="w3-row-padding w3-section">

		<div class="w3-half half">
			<div class="w3-cards">
				<img src="~/image/img/v800 (1).jpg" alt="London" style="width:100%" />
				<div class="w3-container">
					<p>The Impact Rankings 2021 show strong results for the University of Greenwich</p>
					<p>The university ranked 11th globally in the category of reducing inequalities</p>
				</div>
			</div>
		</div>


		<div class="w3-half half">
			<div class="w3-cards">
				<img src="~/image/img/v800.jpg" alt="London" style="width:100%" />
				<div class="w3-container">
					<p>The Impact Rankings 2021 show strong results for the University of Greenwich</p>
					<p>The university ranked 11th globally in the category of reducing inequalities</p>
				</div>
			</div>
		</div>
	</div>

	@*<footer class="w3-container w3-teal">
			<h5>Footer</h5>
			<p>The University of Greenwich is a charity and company limited by guarantee, registered in England.</p>

		</footer>*@


	@*<div class="container">
			<div class="row justify-content-start">
				<div class="col-4">
					One of two columns
				</div>
				<div class="col-4">
					One of two columns
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-4">
					One of two columns
				</div>
				<div class="col-4">
					One of two columns
				</div>
			</div>
			<div class="row justify-content-end">
				<div class="col-4">
					One of two columns
				</div>
				<div class="col-4">
					One of two columns
				</div>
			</div>
			<div class="row justify-content-around">
				<div class="col-4">
					One of two columns
				</div>
				<div class="col-4">
					One of two columns
				</div>
			</div>
			<div class="row justify-content-between">
				<div class="col-4">
					One of two columns
				</div>
				<div class="col-4">
					One of two columns
				</div>
			</div>
			<div class="row justify-content-evenly">
				<div class="col-4">
					One of two columns
				</div>
				<div class="col-4">
					One of two columns
				</div>
			</div>
		</div>*@



</body>
</html>