
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="background-color: lightblue"> 
        <h4>Trainer Home</h4>
        
    </div>
</body>
</html>
